<div class="flex justify-center w-full pt-12">
    <div class="flex">
        <div>
            <img src={{imageURL}} class="rounded-full w-48">
        </div>
        <div class="space-y-2 secondary-text m-4 text-center">
            <p class="font-bold primary-text">{{name}}</p>
            <p>{{bio}}</p>
            <p *ngIf="publicRepos">Total Public Repositories: {{publicRepos}}</p>
            <p *ngIf="gitHub_link"><a href={{gitHub_link}} target="_blank" class="text-lg underline" [style.color]="'#0d6efd'">GitHub Link</a></p>
        </div>
    </div>
</div>
