<div class="flex items-center justify-center w-full pt-12">
    <div class="flex">
        <div>
            <img src={{imageURL}} class="rounded-full w-48">
        </div>
        <div class="space-y-2 text-secondary m-4 text-center">
            <p class="font-bold text-primary">{{name}}</p>
            <p>{{bio}}</p>
            <p>Total Public Repositories: {{publicRepos}}</p>
            <p><a href={{gitHub_link}} target="_blank" class="text-lg underline">GitHub Link</a></p>
        </div>
    </div>
</div>