<div class="flex items-center justify-center min-h-screen w-full">
    <div class="text-center">
        <div class="text-lg break-all leading-relaxed text-primary font-bold">
            <p class="primary-text">Your Gateway to GitHub</p>
            <p class="primary-text">Instantly Access Public Repositories of Any GitHub User!</p>
        </div>
        <div>
            <label for="username" class="block text-2xl secondary-text">Enter GitHub Username:</label>
            <input type="text" placeholder="Enter Username" [(ngModel)]="userName" class="block mx-auto mt-2 px-1 py-1.5 border border-gray-300 rounded-md focus:outline-none focus:border-primary primary-input">
            <button (click)="onSearch()" class="block mx-auto px-4 py-2 font-semibold rounded-md border my-2 primary-btn">Search</button>
        </div>
    </div>
</div>